* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	list-style: none;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #1C2C40;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
}
input,textarea,select{
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

a{
	color: #1C2C40;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 400;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}


@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal
}
::placeholder {
  color: #C0CCDA;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #C0CCDA;
}

::-ms-input-placeholder {
  color: #C0CCDA;
}
:root {
  --main-bg-color: #23D3D3;
  --main-heading-color:#1C2C40;
}
.wrapper{
	display: flex;
    justify-content: space-between;
    align-items: center;
	padding-top: 20px;
	margin-bottom: 100px;
}
.left{
	display: flex;
	align-items: center;
}
.left img{
	margin-right: 40px;
    width: 23%;
    margin-left: 85px;
	cursor: pointer;
}
.left ul{
	display: flex;
}
.left li{
	margin-right: 40px;
	cursor: pointer;
}
.right ul{
	display: flex;
	margin-right: 55px;
}
.right li{
	margin-right: 42px;
	cursor: pointer;
}
.right .button{
	background-color: #24d3d4;
    padding: 8px 22px;
    border-radius: 30px;
    color: white;
	cursor: pointer;
}
.wrapper1{
	display: flex;
	align-items: center;
	margin: 0 auto;
	width: 80%;
}
.left1{
	width: 100%;
}
.left1 h1{
	font-size: 50px;
	font-weight: bolder;
	margin-bottom: 16px;
}
.left1 p{
	font-size: 20px;
}
.left1 li{
	padding: 6% 0;
}
.left1 .button{
	background-color: #24d3d4;
    color: white;
    padding: 15px;
    border-radius: 40px;
	cursor: pointer;
}
.right1 img{
	width: 100%;
}
.paragraph{
	display: flex;
    flex-direction: column;
    align-items: center;
	text-align: center;
	margin-bottom: 50px;
}
.paragraph p{
	margin-bottom: 40px;
	padding-top: 20px;
}	
.paragraph h1{
	font-size: 36px;
	font-weight: bolder;
	width: 29%;
}
.flex{
	display: flex;
}
.flex .patch{
	color: white;
    background-color: #24d3d4;
    padding: 5px;
    border-radius: 3px;
    margin-right: 13px;
}
.flex h1{
	font-weight: bolder;
    font-size: 21px;
}
.wrapper2{
	display: flex;
}
.column{
	width: 30%;
    margin: 0 auto;

}
.column p{
	margin-top: 20px;
    margin-bottom: 20px;
}
.column button{
	padding: 5px 5px;
    border: 2px black;
    border-radius: 30px;
}
.more{
	width: 3%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
}
#spotlight{
	padding: 2rem 0;
}
.row{
	display: flex;
	border-bottom: 1px dotted;
}
.texts{
	width: 87%;
}
.row img{
	width: 90%;
}
.column .button{
	color: #1C2C40;
    display: inline-block;
    border: 1px solid;
    padding: 10px;
    border-radius: 20px;
}
.column .button1{
	padding: 20px 0;
}
.images{
	display: flex;
	justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}
.images img{
	width: 100%;
	display: block;
	border-radius: 100px;
}
#spotlight2 .images li:nth-child(1),
#spotlight2 .images li:nth-child(3) {
    padding-top: 5rem;
}
.text{
	text-align: center;
	padding-top: 10%;
}
.text h1{
	font-weight: bolder;
	font-size: 36px;
	margin-bottom: 45px;
}
.text p{
	width: 30%;
    margin: 0 auto;
}
.jeremy{
	text-align: center;
	padding-top: 15%;
}
.jeremy h1{
	font-weight: bolder;
    font-size: 21px;
	width: 26%;
    margin: 0 auto;
}
.jeremy img{
	width: 100%;
	display: block;
    border-radius: 100px;
}
.image{
	width: 7%;
    margin: 0 auto;
    padding: 70px 0px;
}
.jeremy .jeremyb{
	font-size: 20px;
    font-weight: 500;
    margin-bottom: 7px;
}
.hundred{
	text-align: center;
    padding-top: 16%;
	padding-bottom: 8%;
}
.image1{
	margin: 0 auto;
    width: 20%;
    padding-bottom: 31px;
}
.hundred li{
	padding-top: 50px;
}
.hundred .button{
	background-color: #24d3d4;
    padding: 12px 25px;
    border-radius: 10px;
    color: white;
}
#track{
	background-color: #C0CCDA;
}
.bold{
	padding-top: 7%;
    padding-left: 5%;
    padding-bottom: 50px;
}
.bold h1{
	width: 20%;
    font-size: 25px;
    font-weight: bolder;
}
#track{
	padding-bottom: 8%;
}
.content{
	display: flex;
    flex-wrap: wrap;
}
}
.Tracking{
	display: flex;
}
.heading{
	color: gray;
    font-size: 21px;
    padding-bottom: 5%;
}
.question1 h1{
	font-weight: bold;
    font-size: 23px;
    margin-bottom: 17px;
}
.question1 p{
	width: 48%;
}
.question2{
	padding-top: 7%;
}
.question2 h1{
	font-weight: bold;
    font-size: 23px;
    margin-bottom: 17px;
}
.question h1{
	font-weight: bold;
    font-size: 23px;
    margin-bottom: 17px;
}
.questions{
	padding-top: 26%;
}
.questions h1{
	font-weight: bold;
    font-size: 23px;
    width: 88%;
    margin-bottom: 17px;
}
.questions p{
	width: 80%;
}
.question3 h1{
	font-weight: bold;
    font-size: 23px;
    margin-bottom: 17px;
}
.question3 p{
	width: 68%;
}
.question4{
	padding-top: 25%;
}
.question4 h1{
	font-weight: bold;
    font-size: 23px;
    margin-bottom: 17px;
}
.question4 p{
	width: 67%;
}
.pot{
	width: 15%;
}
.content1{
	display: flex;
	justify-content: center;
    align-items: center;
}
.images1{
	display: flex;
}
.images1 li{
	width: 20%;
	margin-right: 60px;
}
.images1 img{
	border-radius: 100px;	
}
.content1 h1{
	width: 20%;
    font-size: 25px;
    font-weight: bolder;
}
#track .images1 li:nth-child(2),
#track .images1 li:nth-child(4) {
	padding-top: 8rem;
}
#join{
	background-color:  #24d3d4;;
}
.joinpatch{
	text-align: center;
	padding-top: 8%;
}
.joinpatch h1{
	font-weight: bolder;
    font-size: 36px;
    width: 24%;
    margin: 0 auto;
    margin-bottom: 35px;
}
.joinpatch .button{
	background-color: white;
    color: #24d3d4;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.list{
	display: flex;
	padding-top: 8%;
	justify-content: center;
	padding-bottom: 5%;
}
.list li{
	margin-right: 95px;
	margin: 0 auto;
}
#conclusion{
	background-color: #1C2C40;
}
.patchimg{
	width: 12%;
}
.patchimg img{
	margin-bottom: 25px;
}
.wrapper3 p{
	color: #C0CCDA;
}
.main{
	display: flex;
	width: 78%;
    margin: 0 auto;
    padding-top: 6%;
	justify-content: space-between;
}

.services h1{
	color: white;
    margin-bottom: 25px;
}
.about h1{
	color: white;
    margin-bottom: 25px;
}
.date h1{
	color: white;
    margin-bottom: 25px;
}
.date input{
	background: #fff;
	padding: 8px;
    border-radius: 5px;
}
.wrapper3 .policy{
	font-size: 12px;
    padding-top: 5%;
    padding-bottom: 4%;
    padding-left: 9%;
}